form {
	background-color: green !important;
	border: 1px solid red !important;
}
input {
	background-color: green !important;
	border: 1px solid red !important;
}
textarea {
	background-color: green !important;
	border: 1px solid red !important;
}

button {
	background-color: green !important;
	border: 1px solid red !important;
}
select {
	background-color: green !important;
	border: 1px solid red !important;
}
optgroup {
	background-color: green !important;
	border: 1px solid red !important;
}

option {
	background-color: green !important;
	border: 1px solid red !important;
}
label {
	background-color: green !important;
	border: 1px solid red !important;
}
fieldset {
	background-color: green !important;
	border: 1px solid red !important;
}

legend {
	background-color: green !important;
	border: 1px solid red !important;
}
datalist {
	background-color: green !important;
	border: 1px solid red !important;
}
output {
	background-color: green !important;
	border: 1px solid red !important;
}
a {
	background-color: green !important;
	border: 1px solid red !important;
}
link {
	background-color: green !important;
	border: 1px solid red !important;
}
table {
	background-color: green !important;
	border: 1px solid red !important;
}
